<h1>Directivas</h1>
<hr />
<form [formGroup]="myForm">
  <div class="row align-items-center mb-5">
    <div class="col-auto">
      <label class="form-label">Nombre:</label>
    </div>

    <div class="col-auto">
      <input type="text" class="form-control" formControlName="name" />
    </div>

    <div class="col-auto">
      <span customLabel [color]="color">Texto</span>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-auto">
      <button class="btn btn-primary" (click)="changeColor()">
        Cambiar color
      </button>
    </div>
  </div>
</form>

<pre>
  {{ myForm.get("name")?.errors | json }}
</pre>

<pre>
  {{ color }}
</pre>
